{% extends 'partials/body.html' %} {% block contenido %}

    <div class="container bg-black p-2 text-white" style="border-radius: 60px">
        <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-bs-ride="carousel"
        >
            <div class="imagenes bg-black" style="border-radius: 35px">
                <div class="cont">
                    <div
                            class="panel active"
                            style="background-image: url('/static/img/img_1.png.jpeg')"
                    ></div>
                    <div
                            class="panel"
                            style="background-image: url('/static/img/WhatsApp\ Image\ 2023-06-21\ at\ 2.56.59\ AM.jpeg')"
                    ></div>
                    <div
                            class="panel"
                            style="background-image: url('/static/img/img_2.png.jpeg')"
                    ></div>
                    <div
                            class="panel"
                            style="background-image: url('/static/img/img_3.png.jpeg')"
                    ></div>
                    <div
                            class="panel"
                            style="background-image: url('/static/img/img_4.png.jpeg')"
                    ></div>
                </div>
                <script src="/static/js/carrousel.js"></script>
            </div>
            <script src="/static/js/toggle.js"></script>

        </div>
    </div>

{% endblock contenido %}
