{% load static %}
<header class="p-3 bg-dark" >
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{% static 'img/logo.png' %}" alt="logo" width="80" height="80" class="rounded-circle">
      </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'index' %}" class="nav-link px-2 text-white">Inicio</a></li>



        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuarios
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item " href="{% url 'usuario' %}">Usuario</a></li>
            {% if user.rol == "Admin" %}
            <li><a class="dropdown-item " href="{% url 'salario' %}">Salario</a></li>
            <li><a class="dropdown-item "href="{% url 'cuenta' %}">Cuenta de Usuario</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="dropdown ">
          <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="{% url 'producto' %}">Producto</a></li>
           
          </ul>
        </div>
        <div class="dropdown ">
          <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ventas
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item " href="{% url 'ventas' %}">Venta</a></li>
          </ul>
        </div>
        
        {% if user.rol == "Admin" %}
        <div class="dropdown ">
          <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Compras
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item " href="{% url 'compras' %}">Compra</a></li>
            
           
          </ul>
        </div>
        {% endif %}
      </ul>


      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
      </form>

      <div class="d-flex justify-content-end">
        <button class="Btn">
          <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>

          <div class="text"><a href="{% url 'logout' %}" style="text-decoration: none; color: #fff">Cerrar</a></div>

      </button>
      <li>
      <button type="button" class="btn btn-light">{{user.username}}  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
        <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
      </svg></button>

    </li>
      </div>
      
  </div>
  </div>
</header>