{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}


{% block contenido %}
<div class=" container " style="color: aliceblue; background-color: black; border-radius: 11px;">
    <div class="" style="padding: 1% 0% 0% 2% /*background-color: #212529;*/" >
        <form action="" method="POST">
            <h2><a href="{% url 'index' %}"style="text-decoration: none; color: #f5d949;">Felminas</a>/<a href="{% url 'venta' %}" style="text-decoration: none; color: #f5d949;">Venta</a>/<a href="#" style="text-decoration: none; color: #f5d949;">Modificar</a></h2>

            {% csrf_token %}
            {{form|crispy}}
        </div>
        <div style="padding: 0% 0% 2% 2%">
            <input  class="w-25 btn btn-warning border border-4 border border-aliceblue" style="font-family: 'Libre Franklin', sans-serif;" type="submit" value="Modificar {{titulo}}">
            <a href="{% url 'venta' %}" class="w-25  btn btn-outline-danger " style="height: 45px; font-family: 'Libre Franklin', sans-serif; "> Cancelar </a>

        </form>
    </div>
 </div>
{% endblock contenido %}