{% extends 'partials/body-login.html' %}
{% load static %}
{% block contenido %}

    <div>

    <div class="login-box elevation-5">
        <!-- /.login-logo -->
        <div class="card card-outline card-warning">
            <div class="card-header text-center bg-black">
                <img src="{% static '/img/logo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle w-50 "
                     style="opacity: .8">

                <div class="h1"><b>Felminas</b></div>
            </div>
            <div class="card-body" style="padding: 30px; background-color: #1a1a1a">

                <p class="login-box-msg">Revisa tu correo electrónico para restablecer tu contraseña.</p>

                <div class="mb-1">
                    <button class="batt">
                        <a href="{% url 'inicio' %}" style="text-decoration: none;">Iniciar sesión</a>
                        <div class="ara-wrapa">
                            <div class="ara"></div>
                        </div>
                    </button>
                </div>

            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
{% endblock contenido %}
