{% extends 'partials/body-login.html' %}
{% load static %}
{% block contenido %}

    <div class="login-box elevation-5 bg-black">
        <div class="card card-outline card-warning bg-black">
            <div class="card-header text-center">
                <div class="h1"><b>Felminas</b></div>
            </div>

            <div class="card-body" style="padding: 30px; background-color: #1a1a1a">

                <p class="login-box-msg">Ingresa tu dirección de correo electrónico para recibir un enlace para
                    restablecer la contraseña.</p>

                <form method="post">
                    {% csrf_token %}


                    <div class="inp mb-3">
                        <input required="" type="email" name="{{ form.email.name }}"
                               class="inpu">
                        <label class="userr">Email</label>

                    </div>


                    <div class="justify-content-center">
                        <button class="butt" type="submit">
                            Enviar
                            <div class="aro-wrape">
                                <div class="aro"></div>
                            </div>
                        </button>
                    </div>


                </form>
            </div>
        </div>
    </div>
{% endblock contenido %}
